h1 {   
  font-size : 48px;
  font-weight: 100;
}

.h3_size {
  font-size : 24px;
}

.h4.size {
  font-size : 20px;
  font-weight: lighter;
}


.intro_text {
  width : 100%;
  margin : 231px auto 251px auto;     /* 헤더부분과의 간격 지정 (상 우 하 좌 순서대로) */
  text-align: center;   /* 글자 가운데 정렬 */
}

.intro_text > h1,       /* 글자색은 태그 정확히 지정해줘야 적용됨 */
.intro_text > h4 {       
  color : #fff;
}

.intro_text > h4 {
  font-size : 20px;
}

.amount {               /* 하단의 목록 4개 */
  position : relative;  /* 현재 있던 위치에서 절반만큼 걸쳐 있어야 하니까 */
  top : -66px;          /* 하단 목록 구역 높이 / 2 = 66px */
  display : flex;       /* 가로 정렬 */
  width : 1280px;
  height : 132px;
  margin : auto;        /* 하단 목록 구역 가운데 정렬 (좌우) */
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);         /* 하단 목록 구역 그림자 지정 (우측/하단/흐린 정도) */ 
}

.amount > li {
  flex : 1;             /* 자식요소들 1:1 맞춤 지정 */
  height : 132px;
  justify-content: 132px;
}

.amount > li > div {
  text-align : center;  /* 문구 가운데 정렬 */
  background-color: white;
  height : 57px;
  margin-top : 37px;    /* 하단 목록 구역의 윗선과의 간격 지정*/
}

.amount > li:not(:last-child) > div {       /* 하단 목록 중 맨 마지막 구역 제외 */
  border-right : 1px solid #e1e1e1;       /* 각 구역의 오른쪽마다 회색선 (구분선) 지정 */
}