{% load static %}
<!DOCTYPE html>
<html lang = "ko">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/home.css' %}">
  </head>
  <body>
    <div class = "wrap">
      <div class = "intro_bg">
        <div class = "header">
          <div class = "search_area">
            <form>
              <input type="search" placeholder = "Search">
              <span>검색</span>  <!-- 검색창 바로 옆에 글자 붙이기 (div -> 검색창 아래에 배치)-->
            </form>
          </div>
          <ul class = "nav">
            <li><a href = "#">HOME</a></li>
            <li><a href = "#" onclick="location.href='share/'">나눔&중고거래</a></li>
            <li><a href = "#" onclick="location.href='tips/'">꿀팁</a></li>
            <li><a href = "#" onclick="location.href='community/'">COMMUNITY</a></li>
            <li><a href = "#" onclick="location.href='mypage/'">MYPAGE</a></li>
            <li><a href = "#" onclick="location.href='login/'">{{ myuser }}님</a></li><!--/SignUp 빼고 Login만 씀, login창 가면 signup 버튼 있음-->
          </ul>
        </div>  <!-- header end -->

        <div class = "intro_text">
          <h1>Homepage</h1>
          <h4>김해나</h4>
        </div>
      </div>
        <!-- intro end -->

      <ul class = "amount">         <!-- ul 태그로 감쌀 때는 굳이 div 사용 안해도 됨. -->
        <li>
          <div>
            <div class = h4_size>이름</div>
            <div class = "h3_size">김해나</div>
          </div>

        </li>      <!-- alt + shift + 화살표 아래 방향키 : 한줄복사 기능-->
        <li>
          <div>
            <div class = h4_size>나이</div>
            <div class = "h3_size">23</div>
          </div>
        </li>
        <li>
          <div>
            <div class = h4_size>학교</div>
            <div class = "h3_size">명지대학교</div>
          </div>
        </li>
        <li>
          <div>
            <div class = h4_size>학과</div>
            <div class = "h3_size">정보통신공학과</div>
          </div>
        </li>
      </ul>
    </div> <!-- wrap end -->
    
  </body>
</html>